<html>
<head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <title>Express Apartments |  Members </title>
</head>
<body>
    <div class="container">
        <div class="row">

                <nav>
                <div class="nav-wrapper cyan">
                        <a href="#" class="brand-logo">Logo</a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="/">Home</a></li>
                            <li><a href="/add/">Add</a></li>
                            <li><a href="/flats/">Flats</a></li>
                            <li><a href="/billing/bill_list/">List Bills</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="col s3">
                    
                </div>
                
                <div class="col s9">
                    
    <div>
        
        <table style="width:100%" class="bordered">
            <tr> 
                <th><h4>Flat : 101 A </h4></th>
                <th><h5>Bill Date: 19 Feb 2018</h5></th>
            </tr>
            <tr>
                <th>Ravindra &amp; Sharmila Khot</th>
                <th><strong>Bill Month: </strong>Feb 2018</th>
            </tr>
        </table>
            <table style="width:100%" class="bordered">
                <tr>
                <th style="width:70%" class="center-align bordered">Particulars</th>
                <th class="right-align">Amount (Rs.)</th> 
                </tr>
                
                <tr>
                    <td>Municipal Tax</td>
                    <td class="right-align">1800.00</td> 
                </tr>
                
                </tr>
                    <tr>
                    <td>Maintenance Charges</td>
                    <td class="right-align">850.00</td> 
                </tr>

                <tr>
                   <td>Water Charges</td>
                   <td class="right-align">380.00</td> 
                </tr>
                
                <tr>
                    <td>Parking Charges - Car/Scooter/Stilt</td>
                    <td class="right-align">100.00</td> 
                </tr>

                <tr>
                    <td>Sinking Fund</td>
                    <td class="right-align">133.00</td> 
                </tr>

                <tr>
                        <td>Building Repair Fund</td>
                        <td class="right-align">1500.00</td> 
                </tr>

                <tr>
                        <td>Electricity Insurance Charges</td>
                        <td class="right-align">580.00</td> 
                </tr>

                <tr>
                        <td>Non Occupancy Charges</td>
                        <td class="right-align">0.00</td> 
                </tr>

                <tr>
                        <td>Additional Items</td>
                        <td class="right-align">0.00</td> 
                </tr>

                <tr>
                        <td>Additional Items</td>
                        <td class="right-align">0.00</td> 
                </tr>

                <tr>
                        <td class="right-align"><strong>TOTAL</strong></td>
                        <td class="right-align"><strong>5343.00</strong></td> 
                </tr>

            </table>
        

        </div>
    
        
            <div style="border: 1px solid black; padding:5px 10px 5px 10px;">
                <br>
                <div style="font-weight:bold; font-size:30px ;">
                    RECEIPT
                   
                    <div style="font-weight:medium; font-size:20px ;">
                        <strong>Paid on: </strong>Feb. 26, 2018<br>
                        <hr>
                        <strong>Paid by: </strong>Cheque drawn on Bank of India vide transaction 251032.<br>
                    </div>
                    <h5>AMOUNT: 5343.00</h5>
                </div> 
            </div>

        

    

            </div>
                
          
        </div>
    
        
    </div>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
           $('select').material_select();
         });
    </script>
</body>
</html>