
<html>
    <head>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Express Apartments |  Members </title>
    </head>
    <body>

    <div class="container">
                   
                   
                           
            <nav class="navbar navbar-expand-lg navbar-light bg-info">  
                   
                <a href="/" class="navbar-brand text-light">Logo</a>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item  "><a class="nav-link text-light" href="/">Home</a></li>
                        <li class="nav-item "><a class="nav-link text-light" href="/add/">Add</a></li>
                        <li class="nav-item "><a class="nav-link text-light" href="/flats/">Flats</a></li>
                        <li class="nav-item "><a class="nav-link text-light" href="/billing/bill_list/">List Bills</a></li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                            <li class="nav-item  "><a class="nav-link text-light" href="#">Sign-in</a></li>
                            <li class="nav-item "><a class="nav-link text-light" href="#">Login</a></li>
                    </ul>
            </nav>            
        <div class="row">            
            <div class="col-6 col-md-4 " >
                <br>
                <span class="text-right ">Content on the side</span>


            </div>            
            <div class="col-12 col-md-8 ">                
                    <div >
                        <br>
                        <strong>Bill Date: </strong>15 Feb 2018<br>
                        <strong>Flat : </strong>303 A<br>
                        Maya Handa<br><br>
                            <table class="table table-bordered">
                                <tr class="table-secondary">
                                <th style="width:70%" scope="col">Particulars</th>
                                <th class="text-right" scope="col">Amount (Rs.)</th> 
                                </tr>
                                
                                <tr>
                                    <td>Municipal Tax</td>
                                    <td class="text-right">2036.00</td> 
                                </tr>
                                
                                </tr>
                                    <tr>
                                    <td>Maintenance Charges</td>
                                    <td class="text-right">1005.00</td> 
                                </tr>
                
                                <tr>
                                <td>Water Charges</td>
                                <td class="text-right">415.00</td> 
                                </tr>
                                
                                <tr>
                                    <td>Parking Charges - Car/Scooter/Stilt</td>
                                    <td class="text-right">100.00</td> 
                                </tr>
                
                                <tr>
                                    <td>Sinking Fund</td>
                                    <td class="text-right">133.00</td> 
                                </tr>
                
                                <tr>
                                        <td>Building Repair Fund</td>
                                        <td class="text-right">1500.00</td> 
                                </tr>
                
                                <tr>
                                        <td>Electricity Insurance Charges</td>
                                        <td class="text-right">610.00</td> 
                                </tr>
                
                                <tr>
                                        <td>Non Occupancy Charges</td>
                                        <td class="text-right">0.00</td> 
                                </tr>
                
                                <tr>
                                        <td>Additional Items</td>
                                        <td class="text-right">0.00</td> 
                                </tr>
                
                                <tr>
                                        <td>Additional Items</td>
                                        <td class="text-right">0.00</td> 
                                </tr>
                
                                <tr class="table-info">
                                        <td class="text-right"><strong>TOTAL</strong></td>
                                        <td class="text-right"><strong>5799.00</strong></td> 
                                </tr>
                
                            </table>
                        
                            </div>
                            
                            <div style="border: 1px solid black; padding:5px 10px 5px 10px;">
                                <br>
                                <div style="font-weight:bold; font-size:30px ;">
                                    RECEIPT
                                   
                                    <div style="font-weight:medium; font-size:20px ;">
                                        <strong>Paid on: </strong>Feb. 26, 2018<br>
                                        <hr>
                                        <strong>Paid by: </strong>Cheque drawn on Bank of India vide transaction 251032.<br>
                                    </div>
                                    <h5>AMOUNT: 5343.00</h5>
                                </div> 
                            </div>
                </div>
            </div> 
        </div>           
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </script>
    </body>
    </html>